CompileFlags:
  CompilationDatabase: d:\GS_myrepo\ITS-BRD-VSC\Programs\Aufgabe5\out\Aufgabe5\ITSboard\Debug
  Add:
    - '-ID:/GS_myrepo/ITS-BRD-VSC/Programs/Aufgabe5/Inc'
    - >-
      -ID:/GS_myrepo/ITS-BRD-VSC/Programs/Aufgabe5/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -ID:/GS_myrepo/ITS-BRD-VSC/Programs/Aufgabe5/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -ID:/GS_myrepo/ITS-BRD-VSC/Programs/Aufgabe5/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -ID:/GS_myrepo/ITS-BRD-VSC/Programs/Aufgabe5/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -ID:/GS_myrepo/ITS-BRD-VSC/Programs/Aufgabe5/../../stm32cubef4/Utilities/Fonts
    - '-ID:/GS_myrepo/ITS-BRD-VSC/Programs/Aufgabe5/../../DisplayWaveshare/Inc'
    - >-
      -ID:/GS_myrepo/ITS-BRD-VSC/Programs/Aufgabe5/../../ITS_BRD_LIB/Utilities/AddFonts
    - '-ID:/GS_myrepo/ITS-BRD-VSC/Programs/Aufgabe5/tmp/Aufgabe5.Debug+ITSboard'
    - '-ID:/GS_myrepo/ITS-BRD-VSC/Programs/Aufgabe5/RTE/_Debug_ITSboard'
    - '-I"C:/Users/Abdullah'
    - '-ID:/GS_myrepo/ITS-BRD-VSC/Programs/Aufgabe5/../../ITS_BRD_LIB/Inc'
