CompileFlags:
  CompilationDatabase: >-
    z:\Dokumente\Shared_GS_2\ITS-BRD-VSC\Programs\Aufgabe4\out\Aufgabe4\ITSboard\Debug
  Add:
    - '-IZ:/Dokumente/Shared_GS_2/ITS-BRD-VSC/Programs/Aufgabe4/Inc'
    - >-
      -IZ:/Dokumente/Shared_GS_2/ITS-BRD-VSC/Programs/Aufgabe4/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IZ:/Dokumente/Shared_GS_2/ITS-BRD-VSC/Programs/Aufgabe4/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -IZ:/Dokumente/Shared_GS_2/ITS-BRD-VSC/Programs/Aufgabe4/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -IZ:/Dokumente/Shared_GS_2/ITS-BRD-VSC/Programs/Aufgabe4/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -IZ:/Dokumente/Shared_GS_2/ITS-BRD-VSC/Programs/Aufgabe4/../../stm32cubef4/Utilities/Fonts
    - >-
      -IZ:/Dokumente/Shared_GS_2/ITS-BRD-VSC/Programs/Aufgabe4/../../DisplayWaveshare/Inc
    - >-
      -IZ:/Dokumente/Shared_GS_2/ITS-BRD-VSC/Programs/Aufgabe4/../../ITS_BRD_LIB/Utilities/AddFonts
    - >-
      -IZ:/Dokumente/Shared_GS_2/ITS-BRD-VSC/Programs/Aufgabe4/tmp/Aufgabe4.Debug+ITSboard
    - >-
      -IZ:/Dokumente/Shared_GS_2/ITS-BRD-VSC/Programs/Aufgabe4/RTE/_Debug_ITSboard
    - >-
      -IC:/Users/infwuy827/AppData/Local/arm/packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include
    - >-
      -IC:/Users/infwuy827/AppData/Local/arm/packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IZ:/Dokumente/Shared_GS_2/ITS-BRD-VSC/Programs/Aufgabe4/../../ITS_BRD_LIB/Inc
